:root {
  --TamanoMenuVertical: 72px;
  --LetrasColor1: #ffffff;
  --LetrasColor2: #ccd0cf;
  --ColorFondo1: #111827;
  --ColorFondo2: #1f2937;
  --ColorFondo3: #18181b;
  
}

body {
  color: var(--LetrasColor2);
  background-color: var(--ColorFondo1);

}